<table border="1px" width="100%">
    <tr>
        <th>Jersey Number</th>
        <th>Player Name</th>
        <th>Rank</th>
        <th>Country</th>
    </tr>
    <tr *ngFor="let i of lstOfPlayer">
        <td>{{i.pId}}</td>
        <td>{{i.pName}}</td>
        <td>{{i.pRank}}</td>
        <td>{{i.pCountry}}</td>
    </tr>
    <!-- <tr>
        <td>{{lstOfPlayer[1].pId}}</td>
        <td>{{lstOfPlayer[1].pName}}</td>
        <td>{{lstOfPlayer[1].pRank}}</td>
        <td>{{lstOfPlayer[1].pCountry}}</td>
    </tr>
    <tr>
        <td>{{lstOfPlayer[2].pId}}</td>
        <td>{{lstOfPlayer[2].pName}}</td>
        <td>{{lstOfPlayer[2].pRank}}</td>
        <td>{{lstOfPlayer[2].pCountry}}</td>
    </tr>
    <tr>
        <td>{{lstOfPlayer[3].pId}}</td>
        <td>{{lstOfPlayer[3].pName}}</td>
        <td>{{lstOfPlayer[3].pRank}}</td>
        <td>{{lstOfPlayer[3].pCountry}}</td>
    </tr>
    <tr>
        <td>{{lstOfPlayer[4].pId}}</td>
        <td>{{lstOfPlayer[4].pName}}</td>
        <td>{{lstOfPlayer[4].pRank}}</td>
        <td>{{lstOfPlayer[4].pCountry}}</td>
    </tr> -->
</table>